@use '../variables';

.button {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        background-color: variables.$purple;
        color: variables.$textColor;
    }
    
    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        margin-left: 0;
        white-space: wrap;
    }
}